Lab 1/Exercise_1.json
[
    {
        "id": "58c47ed269eb253c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6739b207eb6ac908",
        "type": "inject",
        "z": "58c47ed269eb253c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "e591b14284ce0228"
            ]
        ]
    },
    {
        "id": "0c52ec2f240b1827",
        "type": "inject",
        "z": "58c47ed269eb253c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "e591b14284ce0228"
            ]
        ]
    },
    {
        "id": "a8f2da00fdb017c3",
        "type": "inject",
        "z": "58c47ed269eb253c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "e591b14284ce0228"
            ]
        ]
    },
    {
        "id": "885ffd30baa962eb",
        "type": "inject",
        "z": "58c47ed269eb253c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "13",
        "payloadType": "num",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "e591b14284ce0228"
            ]
        ]
    },
    {
        "id": "e591b14284ce0228",
        "type": "rbe",
        "z": "58c47ed269eb253c",
        "name": "Value changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "4f0b7aabaec5d382",
                "ee7729294813372b"
            ]
        ]
    },
    {
        "id": "4f0b7aabaec5d382",
        "type": "debug",
        "z": "58c47ed269eb253c",
        "name": "Value change notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"value changed\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "ee7729294813372b",
        "type": "switch",
        "z": "58c47ed269eb253c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "jsonata_exp",
                "v": "(msg.payload%3) = 0",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "10d8786a2d6450d3"
            ],
            [
                "6803fb0d4849e1be"
            ],
            [
                "c262c9316f8bae19"
            ]
        ]
    },
    {
        "id": "10d8786a2d6450d3",
        "type": "debug",
        "z": "58c47ed269eb253c",
        "name": "Greater than 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Greater than 20\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "6803fb0d4849e1be",
        "type": "debug",
        "z": "58c47ed269eb253c",
        "name": "Divisible by 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Divisible by 3 \"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "c02ed2879382ae70",
        "type": "function",
        "z": "58c47ed269eb253c",
        "name": "",
        "func": "var num = msg.received_number;\n\nmsg.payload.answer = String(parseInt (msg.payload[\"Index\"])+ num);\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 420,
        "wires": [
            [
                "3e33e87fb188628f"
            ]
        ]
    },
    {
        "id": "c262c9316f8bae19",
        "type": "change",
        "z": "58c47ed269eb253c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "received_number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Name\":\"Ayodya W.K.H\",\"Index\":\"190065K\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "5d59611727f7c4b9",
                "c02ed2879382ae70"
            ]
        ]
    },
    {
        "id": "5d59611727f7c4b9",
        "type": "debug",
        "z": "58c47ed269eb253c",
        "name": "Restructured Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e33e87fb188628f",
        "type": "debug",
        "z": "58c47ed269eb253c",
        "name": "Final Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.answer",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 420,
        "wires": []
    }
]