Assignment 1/Group10_Problem01.json
[
    {
        "id": "3ec5cbf313dd25ba",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1228c27b916e040",
        "type": "function",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "func": "msg.location={};\nmsg.msg_error={};\nlet body=msg.payload;\nlet varx = body.split(/\\r?\\n/);\nlet result=varx[0].split(\",\");\nconst valid_emails=[\"thenuwaratharindu325@gmail.com\",\"yasarahasiniariyarathna@gmail.com\", \"wkhayodya@gmail.com\"];\nif (valid_emails.includes(msg.from)){\n    if (result.length==2){\n        msg.location.city=result[0];\n        msg.location.country=result[1];\n        msg.msg_error=0;\n        \n    }\n    else{\n        msg.payload=\"please send message all simple letters, without any spacing like this:- city,country\";\n        msg.msg_error=1;\n    }\n    \n}\nelse{\n    msg.payload=\"please use the valid email to get this service\";\n    msg.msg_error=1;\n    \n}\nmsg.to={};\nmsg.to=msg.from;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "41e9cd73910ed669"
            ]
        ]
    },
    {
        "id": "61f544b5c61f866e",
        "type": "e-mail in",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "3",
        "fetch": "auto",
        "inputs": 0,
        "credentials": {},
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a1228c27b916e040"
            ]
        ]
    },
    {
        "id": "41e9cd73910ed669",
        "type": "switch",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "property": "msg_error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "200d852d577c07a8"
            ],
            [
                "7e3c877ce041d25a"
            ]
        ]
    },
    {
        "id": "200d852d577c07a8",
        "type": "openweathermap",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "9f2681415e2b96f4"
            ]
        ]
    },
    {
        "id": "38d125982b9412ce",
        "type": "e-mail",
        "z": "3ec5cbf313dd25ba",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "",
        "dname": "",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f2681415e2b96f4",
        "type": "function",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "func": "if(msg==\"404 city not found\"){\n    msg.payload=\"Invalid City or location, check again mate\";\n}\nmsg.payload=\"Hello, These are the weather details in the city that you send by email\"+\"\\n\"+\"\\n\"+\"City:- \"+ msg.payload.location +\"\\n\"+ \"Weather:- \"+ msg.payload.weather+\"\\n\"+\"Weather detail:- \"+ msg.payload.detail+\"\\n\"+\"Temparature:- \"+msg.payload.tempc+\"C & \"+msg.payload.tempk+\"K\"+\"\\n\"+ \"Max Temparatre:- \"+msg.payload.temp_maxc +\"C & \"+msg.payload.maxtemp+\"K\"+\"\\n\"+\"Pressure:- \"+msg.payload.pressure+\"kPa\"+\"\\n\"+\"Min Temparatre:- \"+msg.payload.temp_minc +\"C & \"+msg.payload.mintemp+\"K\"+\"\\n\"+ \"Humidity:- \"+msg.payload.humidity +\"% \\n\"+\"Wind Speed:- \"+ msg.payload.windspeed+\"KMpH\"+\"\\n\"+\"Wind Direction:- \"+msg.payload.winddirection+\"\\n\"+\"number of clouds:-\"+msg.payload.clouds+\"\\n\"+\"Description:- \"+msg.payload.description +\"\\n\"+\"\\n\"+\"Thank you! for using our service\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "38d125982b9412ce"
            ]
        ]
    },
    {
        "id": "7e3c877ce041d25a",
        "type": "function",
        "z": "3ec5cbf313dd25ba",
        "name": "",
        "func": "msg.to={};\nmsg.to=msg.from;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "38d125982b9412ce"
            ]
        ]
    }
]